{
	"data": "ENC[AES256_GCM,data:37wZRCl0o56gozjpELN6m6167qoq/HrH2ez04WBiUQsatlOslblOLWJMbl+OVEA9T32EMxCp9lmwA0hBKVxnhERcDcfDuvlhl2y3Nv0XFQZkBwyo7adNeiIJOV1mTq1BBg9mmT7+de88UVUNhUzAh3OXJKe1l4cbpAQNQAPe4+ajOa11fzVQG41TegunlxAMaqe4bv2/lEJHXYJ9BJ8/2kpmC7QMbZk191fAT6C8dy2dGXEECcgETO23wA70kK4VSWA8PIptnhov9TI6X/AiHSyJqPhn2Oh9UFeA4O0vNkpMLgsbJtDL1lTpz0veA5d2fjXZqFVKwcA5aVTbglPOXlI4wTZq//Puu1URT5bV/B29qzcng0M11O0Xy/zqauJTP/+hBVzn1SZqm67ZSnP4ts3rZKSp8thLecMAhZ46e222SDcxkzvui2pmX5ALtw==,iv:BeyRydKLQPGg6oIx1zoRkYQ8sW2D3m2lbx37eqFKKsM=,tag:RQjQyt1e1yHSvk8Tj1mWGw==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age1al36hkk8can83zpxq8qyy07gpv83hdw9vchfly5f264kanz405as283a00",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBkaFhzK2RoRmw4Y2tlSHVI\ncTl1OU1ZSUY1RDlSWGt1bWpTSjlCZFltVkhJCnBacWt4RmNhMXBQQS9jVm4vcWpC\nMmZ4aFoySGRTeStRZ3NvQ2M0a21odUEKLS0tIDViTHN0SFhxZjIwRFV6Y2x6eGpZ\nL0p2WGtNbkdsSmN6UFFRYTlpVU5mdWcK5eon3dbTxHpD7v+cgvUnf04rJzV+lGsj\ncd2X1QrJ3DS5GT8CsbPOaoE6g6yF1kBWeqZn7itLhHBtyAHKU+guIw==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age1llp6k66265q3rzqemxpnq0x3562u20989vcjf65fl9s3hjhgcscq6mhnjw",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBDc2hqSEtvN2pOOHZZVnlH\nYmwvdVdHTEdhVTZGemVQY1o3b2pmRzhvL0NVCnlma3NCSGI2S1cyaWJzYnExaVFn\nQmVpM21La3ZXeEtROGJwVG40RFM0aFkKLS0tIFB4c1ZORGkrbnJFQWpBN0UwOGVn\ndS9HNWFwZ3Bod29OWlptbGFhMENLd0UKEx5RmOsyLt2WHtdvcO40X5vvoTJc7XKw\nSGt9grkfGYaqzdpqbLGr/wvyU/9Rkf6pVZTLqYbb1AOw86eNrf9xog==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age1zycwtk6dkxj6vuqhj9jw7932ythky9p3att6df4z9qasyw8v5dxquejcmp",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOK21zRUhSaFNaWG9rN1gx\ndklXY3dCZURNaVNwRUpYOW9wUGJNa2dxd0hJCkk1MVNIYWJJbTZYQlNKTHhsUTlF\nbXdHSjlKQVY2T3d0eUR6V0xLU0c3RGsKLS0tIDVyTFVUQlhzdnkxR3RSMCs5b2xw\ncHdQNVNqRTVaU1RQVFZkK0R2cHRVOW8K1vRP3ZfGd7O4aEo2x2ZU7I0Y2SDCzaP5\n0C4CTnycJKBZw+8xsy1Knq3gYPQkrMOCmv8S1zEpynJzAcc2lYeKkA==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age15arcg8x6ltnsacwalvny0h2d4d4wkdmax328mw3v5vda9zm97uqshtavmr",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB1MjlvK0pRUzVlTFAwdnIw\nZFlUUEdFcm9EelZLaVNXSEdnMTJZQW5NS2lFCjd1WnZQSXU5NEdMdHhwMW9jNDFE\nQjM2cDF5Nk1JallsdnJwODJEdm1ZZDAKLS0tIDdJM0xxZTdlZDZWa05UMUlDS1Fa\nU2EwS2pTK1JJNjNMUjVkOUxLU3JXeVkKKmotlgtCmZU/ipJf+xXdPQxV46rfY9e8\nMWMgIrAtJgT0oaREnxYXK09tdk0tIt/eegFyU1Gc1beBArWH3OUKnw==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age1khw2eps099audp3uu5s9rk07qznllh5c8a43gv5dtpnq2a7lue6qrehn5s",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA3MDJoRkxLRXhKR213NU45\nTHQxSWgvTWgxWHZIbUlIdlBFRmwrNXFUSlJrCklqNXhHRGhJK0FmQ3grU1pFRnJC\nRnBqYlp1TERqcGRFTmJGWFY0YzVZaDgKLS0tIHA0Z3lFUkRpeXpRZHdOOVk1UGp4\neWZaNDl4dThCcWplWVpzc01Ya1gxbzQKcesxfNgYS9dKZuSE3IqCfWwMxrVoQZJp\nbC7WtZK4u+HL5/EGCikpvMjxjk2Knl/9O6ra/xik96qWOw0gPeJsbQ==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age1f6mzqe0cejajzt0c7nwdjz4xvs4hjct9d8hrgj60e7unzyfd7prsn0npe5",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBFaGVJY0kwV0xJLzNVY1hZ\nckRITkVkUHR6M280cE5CWWRrc0cvVHJTQ2tjCmVOMFVWdGhBcmY5RDRUWHFWL1JP\ncU83cUdMTVFqSFkzTWdvajE0ckJBUVUKLS0tIG9OU2RYWG5mdGRybkhMWXdnSXdB\nMi9McUZOMElaSFpTUHlLaHFqcWIwcFkKnCY3irMYUT5T9YVG7YsRtpIJB+XLQbOd\nWR5jpKkOsKtL9HaI7fjuVgwmghj39tKGafmNVVSLUE9bSKmdmqRZpw==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age1t0ufylv5xfwhmcamu4gpwtay4wcuyqgzlkht4t04s9qjl8xjks9skxrt02",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBuNVQwUm9uczZWUmNDVTJJ\nWTVTRzZuR21WM3BhYWhRQXREOVd2c3lWMjNFCjVTU0tueFdDOUovdWh1S1V6emE1\na1lQLy9CckhMek1DRGJ4dUp2WWRVR00KLS0tIFJ2S2NERmM4ZXZBR01NeEcyTG9y\nWXJLMGZWWEwrVlVQU2JLbENJYkl6UUUK8Eg7QJEXItW1MBMG2OIRNg20wnKpPFv5\nZxjO/rhmp2Do/DX6I4t7uMX/3VjHunUDPDPscmLEUf4Xj2szJAEosw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-07-06T09:11:29Z",
		"mac": "ENC[AES256_GCM,data:bLtn5gSp0aUyxnTHQ2pHhqRzuaO9VDIp5KMsZmvzDNttj2UwyCeE4dLPK8nGxb/JD0QCc1SjM0wy91K3H1ZkLEtnEirPrOztBc/i41IosV9mkABR8Girz9c99VqxrrcVCP8hddzFA2qnCmkdQtZX06Xsw3rlFEQb+a8+mfHAfJc=,iv:XJci4piynXVNBFu0m6gILJGV+lsI1g5fwWg60C3oR3U=,tag:dxkHsJK+vJY/hPWt3rGWgg==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
